.container {
    width: 1310px;
    outline: solid red;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
body {
    font-family: Gilda Display;
    color: #1E1E1E;
}
.header {
   background-color: black;
padding-top: 40px;
}
.header-logo{
    color: #FFF;
    font-size: 28px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
    text-transform: capitalize;
}
.header-link {
    color: #FFF;
    font-size: 18px;
font-weight: 400;
line-height: normal;
}
.header-list {
    display: flex;
margin-left: 323px;
gap: 62px;
align-items: center;
}
.header-navigation {
    display: flex;
margin-right: auto;
}
.header-container {
    display: flex;
}

.hero-title{
    color: #FFF;
text-align: center;
font-family: Gilroy-Bold;
font-size: 80px;
font-weight: 400;
line-height: 130%;
letter-spacing: -0.8px;
text-transform: capitalize;
}

.hero{
    padding-top: 92px;
    background-image: url(../img/hero-background.jpg);
}
