.container {
  width: 1310px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: "Roboto";
  color: #1e1e1e;
}

.header {
  padding-top: 40px;
  position: absolute;
  right: 0;
  left: 0;
}

.header-logo {
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
  text-transform: capitalize;
}

.header-schopping {
  position: relative;
}

.header-icon {
  width: 34px;
  height: 34px;
  fill: #FFFFFF;
}

.header-statistics {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  width: 20px;
  height: 25.244px;
  background: #E58411;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 20px;
}

.header-link {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.header-list {
  display: flex;
  margin-left: 323px;
  gap: 62px;
  align-items: center;
}

.header-navigation {
  display: flex;
  margin-right: auto;
}

.header-container {
  display: flex;
}

.hero {
  padding-top: 161px;
  background-image: url(../img/hero-background.jpg);
  padding-bottom: 524px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 80px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.8px;
  text-transform: capitalize;
}

.hero-text {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 38.4px */
  max-width: 606px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  margin-bottom: 45px;
}

.hero-input {
  color: #FFF;
  display: flex;
  width: 344px;
  padding: 8px 48px 8px 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 42px;
  border: 0.862px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.15);
  /* backdrop-filter: blur(4px);  */
  margin-left: auto;
  margin-right: auto;
  height: 56px;
  outline: none;
}

.hero-input::placeholder {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 27px */
}

.hero-icon {
  width: 18px;
  height: 18px;
  stroke: #FFFFFF;
  fill: transparent;
}

.hero-box {
  position: relative;
  width: 344px;
  margin: 0 auto;
}

.hero-button {
  background-color: #E58411;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  padding-right: 11px;
  border-radius: 24px;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 8px;
  bottom: 8px;
}


.why-us {
  padding-top: 120px;
  padding-bottom: 120px;
}

.why-us-container {
  display: flex;
  align-items: center;
}

.why-us-list {
  display: flex;
  margin-left: 130px;
  gap: 28px;
}

.why-us-item {
  width: 284px;
}

.why-us-icon {
  stroke: #E58411;
  width: 48px;
  height: 24px;
}

.why-us-name {
  color: #1e1e1e;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.why-us-text {
  color: #1e1e1e;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.85;
  margin-top: 20px;
  margin-bottom: 14px;
}

.why-us-title {
  color: #1e1e1e;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.why-us-info {
  color: #e58411;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 185%;
  display: flex;
  gap: 13px;
}

.selling {
  background: #f7f7f7;
  padding-bottom: 50px;
  padding-top: 50px;
}

.selling-title {
  color: #1e1e1e;
  font-family: "Gilda";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.selling-list {
  display: flex;
  padding: 6px;
  align-items: flex-start;
  justify-content: center;
  border-radius: 44px;
  background: #eee;
  max-width: 348px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}

.selling-button {
  padding: 4px;
  display: flex;
  width: 84px;
  height: 45px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 32px;
  color: #1e1e1e;
  font-family: "Gilda";
  font-size: 18px;
  font-style: normal;
  font-weight: 545;
  line-height: 185%;
  transition: background-color 250ms ease-in-out ;
  /* 33.3px */
}

.selling-button:hover {
  background-color: #fff;
}

.selling-btn {
  width: 48px;
  height: 48px;
  margin-left: 121px;
}


.selling-catalog {
  display: flex;
  gap: 42px;
  justify-content: center;
  margin-top: 130px;
}

.selling-product {
  border-radius: 20px;
  background: #fafafa;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.selling-content {
  padding-left: 21px;
  padding-bottom: 27px;
  padding-top: 14px;
  padding-right: 21px;
  background-color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 202px;
}

.selling-name {
  color: #8d8d8d;
  font-family: "Inter";
  font-size: 16.755px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.selling-icon {
  width: 18px;
  height: 18px;
  fill: #F6B76F;
}

.selling-description {
  color: #0d1b39;
  font-family: "Inter";
  font-size: 21.325px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.selling-chair {
  height: 309px;
}

.selling-stars {
  margin-top: 6px;
  display: flex;
  margin-bottom: 49px;
}

.selling-price {
  color: #0d1b39;
  font-family: "Inter";
  font-size: 21.325px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.selling-info {
  display: flex;
  align-items: center;
}

.selling-sup {
  font-size: 15.232px;
}

.selling-text {
  text-align: center;
  color: #E58411;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 185%;

  margin-top: 60px;
  display: flex;
  align-items: center;
  text-align: center;

  justify-content: center;

}

.selling-plus {
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
  transition: fill 250s ease-in-out;
}

.selling-btn:hover .selling-plus {
  fill: #0D1B39;
  
}

.selling-btn {
  background: #0D1B39;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms ease-in-out, box-shadow 1s ease-in-out;
}

.selling-btn:hover svg{
  fill: #000;
}

.selling-btn:hover {
  background-color: #FFF;
  box-shadow: 1px 2px 15px 5px #0D1B39;
}

/* experiences */

.experiences .container {
  position: relative;
}

.experiences-container {
  width: 544px;
  margin-left: auto;
}

.experience-img {
  position: absolute;
  top: -17px;
  left: 0;
}

.experiences {
  padding-top: 323px;
  padding-bottom: 474px;
}

.experiences-link {
  display: flex;
  align-items: center;
  gap: 13px;
}

.experiences-text {
  margin-bottom: 20px;
  color: #e58411;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.15px;
  text-transform: uppercase;
}

.experiences-title {
  margin-bottom: 20px;
  color: #1e1e1e;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.experiences-info {
  margin-bottom: 24px;
  color: #1e1e1e;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 185%;
  /* 33.3px */
}

.why-us-icon {
  margin-left: 12px;
}

.experiences-link {
  color: #e58411;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 185%;
  /* 25.9px */
}



.materials-container {
  position: relative;

}


.materials-txt {
  color: #1E1E1E;
  font-size: 42px;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.materials-paragrph {
  color: #1E1E1E;
  font-size: 18px;
  font-weight: 400;
  line-height: 185%;
  margin-bottom: 24px;

}

.materials-info {
  color: #E58411;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.15px;
  text-transform: uppercase;
  margin-bottom: 20px;

}

.materials-text {
  width: 556px;
}

.materials-box {
  column-gap: 47px;
  row-gap: 42px;
  width: 894px;
  height: 700px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: -124px;
  right: -184px;
}

.materials-chairs {
  width: 223px;
  height: 229px;
}

.materials-sofa {
  width: 223px;
  height: 317px;
}

.materials-table {
  width: 629px;
  height: 445px;
}

.reviews-section {

  padding-top: 240px;
  padding-bottom: 215px;
}

.reviews-text {
  color: #E58411;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.15px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.reviews-header {
  color: #1E1E1E;
  text-align: center;
  font-family: Roboto;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 60px;
}

.reviews-list {
  display: flex;
}

.reviews-stars {
  display: flex;

}

.reviews-item {
  border-radius: 18.118px;
  background: rgba(31, 29, 29, 0.84);
  backdrop-filter: blur(5.5px);
  width: 370px;
  height: 476px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 18px;
  text-align: center;
}

.reviews-img {
  margin-bottom: 13px;
}

.reviews-conteiner {
  border-radius: 18.118px;
  background: rgba(255, 255, 255, 0.84);
  backdrop-filter: blur(5.5px);
  width: 334px;
  height: 260px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-bottom: 17px;
}

.reviews-name {
  margin-bottom: 6px;
}

.reviews-info {
  margin-bottom: 22px;
}

.reviews-description {
  max-width: 252px;
  margin-left: auto;
  margin-right: auto;
}

.reviews-list {
  display: flex;
  gap: 39px;
  justify-content: center;
}

.reviews-section {
  padding-bottom: 245px;
}

.footer-div {
  display: flex;
  margin-bottom: 118px;
}

.footer-box {
  max-width: 293px;
  margin-right: 152px;

}

.footer-list {
  display: flex;
  gap: 110px;

}

.footer-copyright {
  display: flex;
  justify-content: space-between;
}

.footer-terms {
  display: flex;
  gap: 40px;
}

.footer-title {
  margin-bottom: 29px;
  color: #1E1E1E;

  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
  text-transform: capitalize;

}

.footer-services {
  margin-bottom: 20px;
  color: #F6973F;
  font-family: DM Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.232px;
}

.footer-facts {
  display: flex;
  gap: 16px;
  flex-direction: column;

}

.footer-div {
  width: 1064px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  padding-top: 118px;
  background: #F7F7F7;
  padding-bottom: 58px;
}

.footer-copyright {
  width: 1064px;
  margin-left: auto;
  margin-right: auto;
  color: #1E2833;
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.205px;
  opacity: 0.5;
}

.footer-header {
  margin-bottom: 29px;
  color: #1E1E1E;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.28px;
  text-transform: capitalize;
}

.footer-link {
  display: flex;
  align-items: center;
}

.footer-fact:nth-child(1) .footer-link {
  gap: 22px;
  transition: fill 250ms ease-in-out;
}


.footer-fact:nth-child(2) .footer-link {
  gap: 11px;
  transition: fill 250ms ease-in-out;
}

.footer-fact:nth-child(3) .footer-link {
  gap: 10px;
  transition: fill 250ms ease-in-out;
}

.footer-link:nth-child(1):hover,
.footer-link:nth-child(2):hover,
.footer-link:nth-child(3):hover {
  fill: #F6973F;
  color: #F6973F;
}

.footer-text {
  color: #1E1E1E;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 24px */
}

.footer-image {

  margin-right: 10px;
}

.footer-link {
  color: #1E1E1E;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 24px */
}