.footer-div {
    display: flex;
    margin-bottom: 118px;
  }
  
  .footer-box {
    max-width: 293px;
    margin-right: 152px;
  
  }
  
  .footer-list {
    display: flex;
    gap: 110px;
  
  }
  
  .footer-copyright {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-terms {
    display: flex;
    gap: 40px;
  }
  
  .footer-title {
    margin-bottom: 29px;
    color: #1E1E1E;
  
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
    text-transform: capitalize;
  
  }
  
  .footer-services {
    margin-bottom: 20px;
    color: #F6973F;
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.232px;
  }
  
  .footer-facts {
    display: flex;
    gap: 16px;
    flex-direction: column;
  
  }
  
  .footer-div {
    width: 1064px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .footer {
    padding-top: 118px;
    background: #F7F7F7;
    padding-bottom: 58px;
  }
  
  .footer-copyright {
    width: 1064px;
    margin-left: auto;
    margin-right: auto;
    color: #1E2833;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.205px;
    opacity: 0.5;
  }
  
  .footer-header {
    margin-bottom: 29px;
    color: #1E1E1E;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.28px;
    text-transform: capitalize;
  }
  
  .footer-link {
    display: flex;
    align-items: center;
  }
  
  .footer-fact:nth-child(1) .footer-link {
    gap: 22px;
    transition: fill 250ms ease-in-out, color 250ms ease-in-out;
  }
  
  
  .footer-fact:nth-child(2) .footer-link {
    gap: 11px;
    transition: fill 250ms ease-in-out, color 250ms ease-in-out;
  }
  
  .footer-fact:nth-child(3) .footer-link {
    gap: 10px;
    transition: fill 250ms ease-in-out, color 250ms ease-in-out;
  }
  
  .footer-link:nth-child(1):hover,
  .footer-link:nth-child(2):hover,
  .footer-link:nth-child(3):hover {
    fill: #F6973F;
    color: #F6973F;
  }
  
  .footer-text {
    color: #1E1E1E;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 24px */
  }
  
  .footer-image {
  
    margin-right: 10px;
  }
  
  .footer-link {
    color: #1E1E1E;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 24px */
  }