.header {
    padding-top: 40px;
    position: absolute;
    right: 0;
    left: 0;
  }
  
  .header-logo {
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
    text-transform: capitalize;
  }
  
  .header-schopping {
    position: relative;
  }
  
  .header-icon {
    width: 34px;
    height: 34px;
    fill: #FFFFFF;
  }
  
  .header-statistics {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    width: 20px;
    height: 25.244px;
    background: #E58411;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 20px;
  }
  
  .header-link {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
  }
  
  .header-list {
    display: flex;
    margin-left: 323px;
    gap: 62px;
    align-items: center;
  }
  
  .header-navigation {
    display: flex;
    margin-right: auto;
  }
  
  .header-container {
    display: flex;
  }
  
  