.hero {
    padding-top: 161px;
    background-image: url(../img/hero-background.jpg);
    padding-bottom: 524px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .hero-title {
    color: #fff;
    text-align: center;
    font-size: 80px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.8px;
    text-transform: capitalize;
  }
  
  .hero-text {
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 38.4px */
    max-width: 606px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    margin-bottom: 45px;
  }
  
  .hero-input {
    color: #FFF;
    display: flex;
    width: 344px;
    padding: 8px 48px 8px 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 42px;
    border: 0.862px solid rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.15);
    /* backdrop-filter: blur(4px);  */
    margin-left: auto;
    margin-right: auto;
    height: 56px;
    outline: none;
  }
  
  .hero-input::placeholder {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
  }
  
  .hero-icon {
    width: 18px;
    height: 18px;
    stroke: #FFFFFF;
    fill: transparent;
  }
  
  .hero-box {
    position: relative;
    width: 344px;
    margin: 0 auto;
  }
  
  .hero-button {
    background-color: #E58411;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 24px;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 8px;
    bottom: 8px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  